.container1 {}

.title_p {
    margin-left: 60px;
    font-size: 50px;
    font-family: 'Pacifico', cursive;
    text-shadow: 0 0 10px rgba(252, 241, 241, 0.938);
}

.title3 {
    margin-left: 60px;
    font-family: 'Pacifico', cursive;

}