.cuadro {
    text-align: center;
    margin: 30px;
    background-color: rgb(54, 54, 228);
    text-align: center;
    border-radius: 40px; 
    box-shadow: 0 0 10px rgba(17, 16, 16, 0.1); 
    padding: 20px; 
    }
.titulo{
    color: white;
}
.espacio1{
    margin-bottom: 10px;
    color: white;
}
.espacio2{
    margin-bottom: 10px;
    margin-left: -22px;
    color: white;

}
.boton{
    padding: 10px 20px; 
    border-radius: 5px; 
    background-color: #e4eef8; 
    border: none; 
    color: rgb(24, 23, 23); 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    cursor: pointer;
} 
.boton:hover {
    background-color: #6aa8f3; 
}

.boton:active {
    background-color: #c8e0f8; 
}
 

