* {
    margin: 0;
    padding: 0;
}

.networks {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}