.titulo{
    text-align: center;
    color: white;
    font-size: 60px;
    font-family: 'Lobster', cursive;
}
.reloj{
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: 'Lobster', cursive;
}
.cuadro{
    margin-top: 100px;
    border: 5px solid #1b1818;
    border-radius: 15px;
    padding: 20px;
    clip-path: polygon(0 15%, 15% 0, 100% 0, 100% 100%, 0 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}