
.contenido{
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    
  
}
  .datephoto{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 15px;
    border: 6px solid blue;
  }
  .enlace{
    display: flex;
    
  }
