.navBar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color:  #242628;
    margin-left: 30px;
    margin-right: 44px;
    border-radius: 0px 0px 20px 30px;
    border: solid red 0px;
    padding: 10px;
    color: azure;
    margin-bottom: -8px;
    margin-top: -10px;
}
a:-webkit-any-link:hover {
    color: rgb(255, 213, 0);
}
a:-webkit-any-link {
    color: azure;
    cursor: pointer;
    text-decoration:none;
}
