.contenido{
    
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    color: black;
    width: 700px;
    padding: 30px;
    border: 6px solid blue;
 
   
   
}

.experiencia{
    display: flex;
    flex-direction: row;
    justify-content: start;
    justify-content: start;
    padding: 3px;
    gap: 30px;
    color: black;
    

}

.fecha{
    display: flex;
    justify-content: center;
    width: 300px;
    display: flex;
    font-size: 14px;
 

}
.enlace{
    display: flex;
    gap: 20px;
}


