body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: rgb(14, 177, 222);
  align-content: center;
  flex-direction: column;
  text-align: center;
  background-color: rgb(1, 1, 11);
}
