.navBar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color:  #0356dc;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 0px 0px 20px 30px;
    border: solid 0px;
    padding: 10px;
    color: #242628;
    margin-bottom: -8px;
    margin-top: -5px;
}
/* .links:hover {
    color: #242628;
}
.links {
    color: #242628;
    cursor: pointer;
    text-decoration:none;
} */
.linksG:hover {
    /* color: rgb(0, 0, 0); */
    color: inherit !important;
}
.linksG {
    color: #242628; 
    cursor: pointer;
    text-decoration:none;
}
